@model IEnumerable<SortWasteVictoria_WebApp.Models.Garbage>

@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var garbageList = Model.ToList();
    if (!garbageList.Any())
    {
        <div class="align-content-center">
        <h1 class="text-center">OOPS!</h1>
            <p>
                <center>Sorry no matches found!</center>
                <center>The item you are looking for is currently not in our database,</center>
                <center>but this site will be updated periodically to include more items.</center>
                <center>Stay tuned for more updates!</center>
            </p>
        </div>
        
    }
    else
    {
        foreach(var item in Model)
        {
            <div class="text-center">
            <h1>WHAT YOU CAN DO</h1>
            <p>
                @{
                    if (!item.Bin.BinColour.Equals("test"))
                    {
                        <a>Your Garbage:</a> @Html.DisplayFor(modelItem => item.GarbageName)
                    }
                }
            </p>
            <p>
                @{
                    if (!item.Bin.BinColour.Equals("test"))
                    {
                        <a>Where to put your item:</a>
                        @Html.DisplayFor(modelItem => item.Bin.BinColour)
                    }
                }
            </p>
            <p>
                @{
                    if (!item.Bin.BinColour.Equals("test"))
                    {
                        var colour = item.Bin.BinColour;
                        switch (colour)
                        {
                            case "Red":
                                <img src="https://drive.google.com/uc?export=view&id=1-yXSn7TtqPzBW342tf5TU4Swlfk1MnvS" alt="Red Bins" width="400" height="630" />
                                break;

                            case "Yellow":
                                <img src="https://drive.google.com/uc?export=view&id=1-rQg-ve_U_9Ib0IGIRURitxTfc4m7EEB" alt="Yellow Bins" width="400" height="630" />
                                break;

                            case "Green":
                                <img src="https://drive.google.com/uc?export=view&id=1043VfiPwJBzUfhEDtYnjvV5snEdPjoW3" alt="Green Bins" width="400" height="630" />
                                break;

                            case "Purple":
                                <img src="https://drive.google.com/uc?export=view&id=100GYO3GWmXBjgCgjOZSAPaflpRunpDjB" alt="Purple Bins" width="400" height="630" />
                                break;
                        }

                    }
                }
            </p>
        </div>
                }
        
    }
}
<div class="text-center">
    <p class="align-content-center"><a href="javascript:history.go(-1)" class="button">Back</a></p>
</div>

<style>
    .button {
        background-color: #C2EDCE;
        padding: 10px 16px;
        border-radius: 25px;
    }
</style>

@*<div>
    <div>
        @{
            foreach (var test in Model)
            {if (test.Bin.BinColour.Equals("test"))
            {
                @Html.DisplayFor(modelItem => test.Bin.BinColour)
                <div>TESTING</div>
                <p>
                    SORRY no matches found! The item you are looking for is currently not in our database,
                    but this site will be updated periodically to include more items. Stay tuned for more updates!
                </p>
            } }
            
        }
    </div>
    @{
        foreach (var item in Model)
        {
            if (item.Bin.BinColour.Equals("test"))
            {
                @Html.DisplayFor(modelItem => item.Bin.BinColour)
                <div>TESTING</div>
                <p>SORRY no matches found! The item you are looking for is currently not in our database,                     but this site will be updated periodically to include more items. Stay tuned for more updates!</p>
            }
            else
            {
                <div class="text-center">
                    <h1>WHAT YOU CAN DO</h1>
                    <p>
                        @{
                            if (!item.Bin.BinColour.Equals("test"))
                            {
                                <a>Your Garbage:</a> @Html.DisplayFor(modelItem => item.GarbageName)
                            }
                        }
                    </p>
                    <p>
                        @{
                            if (!item.Bin.BinColour.Equals("test"))
                            {
                                <a>Where to put your item:</a>
                                @Html.DisplayFor(modelItem => item.Bin.BinColour)
                            }
                        }
                    </p>
                    <p>
                        @{
                            if (!item.Bin.BinColour.Equals("test"))
                            {
                                var colour = item.Bin.BinColour;
                                switch (colour)
                                {
                                    case "Red":
                                        <img src="https://drive.google.com/uc?export=view&id=1-yXSn7TtqPzBW342tf5TU4Swlfk1MnvS" alt="Red Bins" width="400" height="630" />
                                        break;

                                    case "Yellow":
                                        <img src="https://drive.google.com/uc?export=view&id=1-rQg-ve_U_9Ib0IGIRURitxTfc4m7EEB" alt="Yellow Bins" width="400" height="630" />
                                        break;

                                    case "Green":
                                        <img src="https://drive.google.com/uc?export=view&id=1043VfiPwJBzUfhEDtYnjvV5snEdPjoW3" alt="Green Bins" width="400" height="630" />
                                        break;

                                    case "Purple":
                                        <img src="https://drive.google.com/uc?export=view&id=100GYO3GWmXBjgCgjOZSAPaflpRunpDjB" alt="Purple Bins" width="400" height="630" />
                                        break;
                                }

                            }
                        }
                    </p>
                </div>
                            }
        }
    }

</div>*@

@*<div class="text-center">
    <h1>WHAT YOU CAN DO</h1>
</div>


<div class="text-center">
    <p>@{
            foreach (var item in Model)
            {
                if (!item.Bin.BinColour.Equals("test"))
                {
                    <a>Your Garbage:</a> @Html.DisplayFor(modelItem => item.GarbageName)
                }
            }
        }</p>

    <p>
        @{
            foreach (var item in Model)
            {
                if (!item.Bin.BinColour.Equals("test"))
                {
                <a>Where to put your item:</a>
                    @Html.DisplayFor(modelItem => item.Bin.BinColour)
                }               
            }
        }
    </p>
    <p>
        @{
            foreach (var item in Model)
            {
                if (!item.Bin.BinColour.Equals("test"))
                {
                    var colour = item.Bin.BinColour;
                    switch (colour)
                    {
                        case "Red":
                            <img src="https://drive.google.com/uc?export=view&id=1-yXSn7TtqPzBW342tf5TU4Swlfk1MnvS" alt="Red Bins" width="400" height="630" />
                            break;

                        case "Yellow":
                            <img src="https://drive.google.com/uc?export=view&id=1-rQg-ve_U_9Ib0IGIRURitxTfc4m7EEB" alt="Yellow Bins" width="400" height="630" />
                            break;

                        case "Green":
                            <img src="https://drive.google.com/uc?export=view&id=1043VfiPwJBzUfhEDtYnjvV5snEdPjoW3" alt="Green Bins" width="400" height="630" />
                            break;

                        case "Purple":
                            <img src="https://drive.google.com/uc?export=view&id=100GYO3GWmXBjgCgjOZSAPaflpRunpDjB" alt="Purple Bins" width="400" height="630" />
                            break;
                    }
                                }
                
            }
        }
    </p>
    
</div>*@
